@{
    ViewData["Title"] = "Home";

}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <p>Your opinion of movies stinks. Come learn about mine... because they are superior.</p>
    <br />
    <img src="~/JoelHilton.jpg" />
</div>
