@{
    ViewData["Title"] = "Podcasts";
}
<h1>@ViewData["Title"]</h1>

<p>Visit <a href="https://baconsale.com/">Baconsale.com</a> to listen to my movie podcasts. Because like I said, my opinions are superior to yours.</p>
